<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desktop-6qdvvsr\sqlexpress.DbTicariOtomasyon.dbo"
            connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-6QDVVSR\SQLEXPRESS;integrated security=SSPI;initial catalog=DbTicariOtomasyon" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>